<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Encomage_P2c2pPayment" setup_version="0.1.0">
        <sequence>
            <module name="P2c2p_P2c2pPayment"/>
        </sequence>
    </module>
</config>