<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="nupoints_settings" showInDefault="1" showInStore="1" showInWebsite="1" translate="label" type="text">
            <label>NuPoints Settings</label>
            <tab>nubangkok</tab>
            <resource>Encomage_Nupoints::nupoints</resource>
            <group id="nupoints_rates" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" type="text">
                <label>NuPoints Rates</label>
                <field id="nupoints_list" showInDefault="1" showInStore="1" showInWebsite="1" translate="label" type="select">
                    <label>NuPoints List</label>
                    <frontend_model>Encomage\Nupoints\Block\Adminhtml\Form\Field\NupointsRates</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>