.stories-content {
  .buttons-container {
    margin-bottom: 30px;
    text-align: center;
    .story-button {
      border: 1px solid #aeaeae;
      background: transparent;
      color: #55463e;
      border-radius: 3px;
      padding: 8px 55px;
      font-weight: 600;
      margin-top: -4px;
      margin-left: 20px;
      text-transform: uppercase;
      text-decoration: none;
    }
    .story-button.active {
      border: 1px solid #55463e;
      background-color: #55463e;
      color: white;
      font-weight: 700;
    }
    .add-story-button {
      text-decoration: none;
      float: right;
      border: 1px solid #aeaeae;
      padding: 2px 5px 2px 20px;
      position: relative;
      margin-left: -100px;
      margin-right: 1.1%;
      &:after {
        content: '+';
        font-size: 22px;
        color: #bbbcb7;
        font-weight: 700;
        position: absolute;
        right: 67px;
        float: left;
        top: -5px;
      }
    }
  }
  .your-stories-block {
    .your-stories-container {
      .story-item {
        display: inline-flex;
        border-bottom: 1px solid;
        .story-content {
          h3.story-title {
            text-transform: capitalize;
          }
          h3.story-create-at {
          }
          p.short-content, p.full-content {
            display: inline-block;
          }
          p.short-content {
            .show-more {
              color: rgb(187, 188, 183);
              cursor: pointer;
            }
          }
          p.full-content {
            display: none;
          }
        }
        img {
          display: inline-block;
          float: right;
          margin: 10px;
          max-width: 140px;
          max-height: 140px;
        }
      }
    }
  }
}

.add-story-content {
  .story-image {
    input.attach-file {

    }
  }
  .story-content {
    textarea.story-textarea {
      height: 300px;
    }
  }
  button.save-button {

  }
}