<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="encomage_careers_listing_data_source" xsi:type="string">Encomage\Careers\Model\ResourceModel\Careers\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Encomage\Careers\Model\ResourceModel\Careers\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">encomage_careers</argument>
            <argument name="resourceModel" xsi:type="string">Encomage\Careers\Model\ResourceModel\Careers</argument>
        </arguments>
    </virtualType>
    <preference for="\Magento\Framework\Mail\Template\TransportBuilder" type="\Encomage\Careers\Mail\Template\TransportBuilder"/>
</config>