<if args="isLogged()">
    <div class="totals redeem excl">
        <div class="mark" data-bind="text: title"></div>
        <div class="input">
            <span data-bind="text: getCustomerNupoints()"></span>
        </div>

        <div class="btn">
            <if args="isCanRedeem()">
                <button type="button" data-bind="click: applyRedeem">
                    <span data-bind="text: $t('Redeem')"></span>
                </button>
            </if>
            <if args="isCanCancelRedeem()">
                <button type="button" data-bind="click: revertRedeem">
                    <span data-bind="text: $t('Cancel redeem')"></span>
                </button>
            </if>
        </div>

        <div class="amount">
            <span class="price" data-bind="text: getValue()"></span>
        </div>
    </div>
</if>
