<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Controller\Account\CreatePost" type="Encomage\Customer\Controller\Account\CreatePost" />
    <preference for="Magento\Customer\Model\Data\Customer" type="Encomage\Customer\Model\Data\Customer" />
    <preference for="Magento\Customer\Model\Customer" type="Encomage\Customer\Model\Customer" />
    <preference for="Magento\Customer\Block\Form\Register" type="Encomage\Customer\Block\Form\Register" />
    <preference for="Magento\Framework\Data\Form\Filter\Date" type="Encomage\Customer\Data\Form\Filter\Date"/>

    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="encomage_customer" type="Encomage\Customer\Plugin\CustomerData\Customer" sortOrder="1" />
    </type>
    <type name="Encomage\Customer\Plugin\CustomerData\Customer">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="loggedCustomerUrls" xsi:type="array">
                    <item name="logout" xsi:type="array">
                        <item name="label" xsi:type="string">Log out</item>
                        <item name="path" xsi:type="string">customer/account/logout</item>
                    </item>
                    <item name="account" xsi:type="array">
                        <item name="label" xsi:type="string">My account</item>
                        <item name="path" xsi:type="string">customer/account</item>
                        <item name="handle" xsi:type="string">customer-account-index</item>
                    </item>
                </item>
                <item name="notLoggedCustomerUrls" xsi:type="array">
                    <item name="login" xsi:type="array">
                        <item name="label" xsi:type="string">Sign in</item>
                        <item name="path" xsi:type="string">customer/account/login</item>
                        <item name="handle" xsi:type="string">customer-account-login</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="label" xsi:type="string">Create account</item>
                        <item name="path" xsi:type="string">customer/account/create</item>
                        <item name="handle" xsi:type="string">customer-account-create</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>