<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <frontend>
                <use_simple_instead_configurable>1</use_simple_instead_configurable>
            </frontend>
        </catalog>
    </default>
</config>