<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Product\ImageBuilder" type="Encomage\Catalog\Block\Product\ImageBuilder"/>
    <type name="Magento\Framework\Pricing\Render">
        <plugin name="encomage_price_render" type="Encomage\Catalog\Plugin\Pricing\Render" sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Helper\Product">
        <plugin name="encomage_catalog_product_init_before" type="Encomage\Catalog\Plugin\Helper\Product" />
    </type>
    <type name="Magento\Swatches\Block\Product\Renderer\Configurable">
        <plugin name="encomage_catalog_product_visibility_after" type="Encomage\Catalog\Plugin\Block\Product\Renderer\Configurable" />
    </type>
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="encomage_catalog_product_gallery_around" type="Encomage\Catalog\Plugin\Block\Product\View\Gallery"/>
    </type>
    <preference for="Magento\Catalog\Model\Product\Gallery\Processor"
                type="Encomage\Catalog\Override\Model\Product\Gallery\Processor"></preference>
</config>
