#maincontent .column.main .fotorama__nav.fotorama__nav--thumbs {
    display: none;
}

#maincontent .column.main .fotorama__nav.fotorama__nav--thumbs .fotorama__nav__shaft {
    display: none;
}

#maincontent .column.main .fotorama__arr .fotorama__arr--next .fotorama__arr__arr {
    background-color: hotpink;
}

#maincontent .column.main .fotorama__dot {
    width: 6px;
    height: 6px;
}

#maincontent .column.main .fotorama__active .fotorama__dot {
    background-color: #55463e;
    border-color: #55463e;
    width: 6px;
    height: 6px;
}


/*stores, carrency dropp-icon*/

.page-header .switcher .options .action.toggle:after,
.page-footer .switcher .options .action.toggle:after {
    position: absolute; background: url(../images/select-arrow-down.png);
    width: 14px;
    height: 9px;
    background-size: contain;
    top: 7px;
    right: 4px;
}

.page-header .switcher .options .action.toggle.active:after,
.page-footer .switcher .options .action.toggle.active:after {
    position: absolute;
    background: url(../images/select-arrow-up.png);
    width: 14px;
    height: 9px;
    background-size: contain;
    top: 7px;
    right: 4px;
}

/* gallery.css*/

.product.data.items > .item.content {
    padding: 30px 0 !important;
}

@media screen and (max-width: 767px) {
    .fotorama__nav--dots {
        top: -40px !important;
    }
}

/* popup *********************/

.modal-popup._inner-scroll .modal-inner-wrap{
    background-color: #D8D1CA;
    max-width: 600px;
    border-radius: 4px;
}
.modal-content p {
    font-size: 20px;
}
.modal-popup.modal-slide footer.modal-footer{
    border-top: none;
}

/* popup buttons*/
.modal-popup .modal-footer {
    padding-top: 1rem;
}

.modal-footer .product-question-modal-btn-consultant {
    min-width: 175px;
    background-color: #55463e;
    border: 1px solid #55463e;
    text-transform: none;
    font-size: 14px;
    border-radius: 3px;
    color: white;
}
.modal-footer .product-question-modal-btn-consultant:hover{
    background-color: #372820;
    border: 1px solid #372820;
}

.modal-footer .product-question-modal-btn-add-to-cart{
    font-size: 14px;
    background-color: transparent;
    text-transform: none;
    color: inherit;
    min-width: 175px;
    border: 1px solid #55463e;
    font-weight: normal;
}
.modal-footer .product-question-modal-btn-add-to-cart:hover{
    background-color: #6b584e;
    color: white;
}
.modal-slide .action-close {padding: 5px 1px;}
.modal-slide .action-close:before { font-size: 44px; color: #55463e;}
.modal-content p {font-size: 14px;}


@media screen and (max-width: 767px) {
    .modal-slide._inner-scroll .modal-footer{
        margin-top: 50px;
    }
    .modal-content{
        margin-top: 50px;
    }

    .modal-footer .product-question-modal-btn-consultant,
    .modal-footer .product-question-modal-btn-add-to-cart {
        width: 100%;
        height: 50px;
    }
    .modal-footer .product-question-modal-btn-add-to-cart{
        margin-top: 25px;
    }
}/*********************popup*******/


/*customer icon dropdown menu*/
.page-header .header.links .switcher:first-of-type .switcher-options.active {
    background-color: #d9d2cb;
}

/* radio box PDP */
@media screen and (max-width: 1076px) {
    .product-info-main .radio-box, .product-options-bottom .radio-box{
        margin-left: 1%;
    }
}

/*create account nice select fields*/
.field.country.required .control .nice-select.open:after {
    margin-top: 4px;
}
.gender-block .field.gender .nice-select.open:after {
    margin-top: 4px;
}

/*style for inputs sign in*/
input:-webkit-autofill{
    background-color: #ffffff;
}

/* Sign in page */
@media screen and (min-width: 1206px){
    .block.block-customer-login .block-content fieldset .control .customer-show-password{
        right: 14px !important;
    }
}

/* class for hide elements on desktop*/
.hide-dsk{
    display: none !important;
}