<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dropdown_fields" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Dropdown fields settings</label>
            <tab>encomage</tab>
            <resource>Encomage_DropdownFields::dropdown_fields_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Dropdown fields Options</label>
                <field id="api_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API key</label>
                </field>
                <field id="domain_region" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Domain url for region API</label>
                </field>
                <field id="domain_city" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Domain url for city API</label>
                </field>
            </group>
        </section>
    </system>
</config>