<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <nupoints_settings>
            <nupoints_rates>
                <nupoints_list></nupoints_list>
            </nupoints_rates>
        </nupoints_settings>
    </default>
</config>
