<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="encomage_nupoints_place_order_after"
                  instance="Encomage\Nupoints\Observer\Sales\PlaceOrderAfter"/>
    </event>
    <event name="controller_action_predispatch_checkout_cart_add">
        <observer name="encomage_controller_action_predispatch_checkout_cart_add"
                  instance="Encomage\Nupoints\Observer\Predispatch\Checkout\CartAdd"/>
    </event>
</config>
