<div class="actions dropdown options switcher-options">
    <a href="#" class="top-link-myaccount actions dropdown customer-name"
       data-mage-init='{"dropdown":{}}'
       data-toggle="dropdown"
       data-trigger-keypress-button="true"></a>
    <div class="account-links-list">
        <ul class="dropdown switcher-dropdown" data-target="dropdown">
            <each args="getLinks()">
                <li class="account-link-item" style="list-style-type: disc !important;">
                    <a style="list-style-type: disc !important;" data-bind="{text:label, attr:{href:url}}"></a>
                </li>
            </each>
        </ul>
    </div>
</div>