// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@form-field__vertical-indent__desktop: 29px;
@form-calendar-icon__color: @primary__color;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .fieldset {
    .arrow-up {
      background: @icon-arrow-up;
      height: 51px;
      width: 34px;
      background-size: cover;
      display: inline-block;
      float: right;
      margin-top: 83px;
      margin-right: 9%;
    }
    .lib-form-fieldset();
    &:last-child {
      margin-bottom: 0;
    }

    > .field,
    > .fields > .field {
      //.lib-form-field();
      margin: 0;
      &.no-label {
        > .label {
          &:extend(.abs-visually-hidden all);
        }
      }

      &.choice {
        .label {
          display: inline;
          font-weight: normal;
        }
      }

      .label {
        .column:not(.main) & {
          font-weight: normal;
        }
      }

      .field.choice {
        margin-bottom: @indent__s;

        &:last-child {
          margin-bottom: 0;
        }
      }

      input[type=file] {
        margin: @indent__xs 0;
      }
    }
  }

  .legend + .fieldset,
  .legend + div {
    clear: both;
  }

  .legend {
    strong {
      margin-left: @indent__xs;
    }
  }

  fieldset.field {
    border: 0;
    padding: 0;
  }

  .field {
    &.date {
      &:extend(.abs-field-date all);

      .time-picker {
        display: inline-block;
        margin-top: @indent__s;
        white-space: nowrap;
      }
    }

    .message {
      &.warning {
        margin-top: @indent__s;
      }
    }
  }

  .field-error,
  div.mage-error[generated] {
    margin-top: 7px;
  }

  .field-error {
    .lib-form-validation-note();
  }

  .field .tooltip {
    .lib-tooltip(right);
    .tooltip-content {
      min-width: 200px;
      white-space: normal;
    }
  }

  input:focus ~ .tooltip .tooltip-content,
  select:focus ~ .tooltip .tooltip-content {
    display: block;
  }

  ._has-datepicker {
    ~ .ui-datepicker-trigger {
      .lib-button-reset();
      .lib-icon-font(
        @_icon-font-content: @icon-calendar,
        @_icon-font-color: @primary__color__lighter,
        @_icon-font-size: @icon-calendar__font-size,
        @_icon-font-line-height: @icon-calendar__font-size,
        @_icon-font-display: block,
        @_icon-font-text-hide: true
      );
      //display: inline-block;
      display: none;
      vertical-align: middle;

      &:focus {
        box-shadow: none;
        outline: 0;
      }
    }
  }

  //
  //  Sidebar forms
  //  -----------------------------------------

  .sidebar {
    .fieldset {
      margin: 0;

      > .field:not(.choice) >,
      .fields > .field {
        &:not(:last-child) {
          margin: 0 0 @form-field__vertical-indent;
        }

        .label {
          margin: 0 0 4px;
          padding: 0 0 @indent__xs;
          text-align: left;
          width: 100%;
        }

        .control {
          width: 100%;
        }
      }
    }
  }

  .form.create.account.form-create-account .create.info {

    h2 {
      text-align: center;
    }
    .legend {
      margin-left: 0;
      font-size: @font-size__s;
      font-style: italic;
    }
    input {
      border: none;
      border-bottom: 2px solid @color-gray91;
    }
    .field {
      label[for=country] {
        display: inline-block;
        float: left;
        border-bottom: 2px solid @color-gray91;
        height: 35px;
        width: 13%;
        color: @color-text-input;
        span {
          padding-left: 9px;
        }
      }
      //.control {
      //  .nice-select {
      //    border-top: none;
      //    padding-left: 9px;
      //  }
      //}
    }
    .field.country .control {
      float: left;
      width: 87%;
      .nice-select {
        width: 100%;
        border-top: none;
        padding-left: 9px;
        color: @color-text-input;
      }
    }
    .field.date.field-dob {
      .customer-dob {
        margin-top: 5px;
      }
    }
    label[for=gender] {
      display: inline-block;
      float: left;
      border-bottom: 2px solid @color-gray91;
      height: 35px;
      width: 27%;
      color: @color-text-input;
      span {
        padding-left: 9px;
        padding-top: 11px;
        display: block;
      }
    }
    .field.gender .control {
      float: left;
      width: 73%;
      .nice-select {
        width: 100%;
        border-top: none;
        padding-left: 9px;
        color: @color-text-input;
      }
    }
    //.birthday-gender {
    //  input[name=birth] {
    //    width: 35%;
    //  }
    //  input[name=gender] {
    //    width: 45%;
    //    float: right;
    //  }
    //}
    .dob-block {
      width: 45%;
      display: inline-block;
      float: left;
    }
    .gender-block {
      width: 45%;
      display: inline-block;
      float: right;

    }

    .checkbox-block {
      width: 100%;
      display: inline-block;
      margin-top: 30px;
      position: relative;
      label[for=specials_offers] {
        position: relative;
        span:last-of-type {
          padding-left: 3%;
        }
        span:first-of-type {
          position: absolute;
          width: 21px;
          height: 21px;
          left: -4px;
          top: -1px;
          background: @icon-choose-box no-repeat;
        }
      }
      label[for=tos] {
        position: relative;
        span:last-of-type {
          padding-left: 3%;
        }
        span:first-of-type {
          position: absolute;
          width: 21px;
          height: 21px;
          left: -4px;
          top: -1px;
          background: @icon-choose-box no-repeat;
        }
      }
      input[type='checkbox'] {
        opacity: 0;
        &:checked + span:first-of-type {
          background: @icon-choose-chd no-repeat;
        }
      }
      .field.choice.tos {
        margin-top: 25px;
      }
    }
  }
  .account-right-block {
    width: 45%;
    float: right;
    margin-top: 70px;
    .sign-in-block {
      margin-top: 100px;
      text-align: center;
      p {
        margin-top: 2rem;
      }
      a.action.login {
        border: 2px solid @color-gray91;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 3px;
        padding: 8px;
        display: block;
        width: 60%;
        margin: 0 auto;
      }
      a:last-of-type {
        margin-top: 30px;
        display: block;
      }
    }
    .register-form-right-image {
      //width: 45%;
      //float: right;
    }

  }
}

//.arrow-open-close {
//  background: @icon-select-arrow-down;
//  background-position: 96%;
//  background-repeat: no-repeat;
//  &:active, &:focus {
//    background: @icon-select-arrow-up;
//    background-position: 96%;
//    background-repeat: no-repeat;
//  }
//}

.product-options-wrapper {
  .field .control .input-text {
    width: 32%;
    height: 45px;
    border-left: none;
    border-right: none;
    border-top: 2px solid @color-gray91;
    border-bottom: 2px solid @color-gray91;
    padding: 0;
    &:focus {
      box-shadow: none;
    }
    //  background: @icon-select-arrow-down;
    //  background-position: 96%;
    //  background-repeat: no-repeat;
    //  &:focus, &:active {
    //    background: @icon-select-arrow-up;
    //    background-position: 96%;
    //    background-repeat: no-repeat;
    //  }
  }

  //.swatch-select {
  //  width: 32%;
  //  height: 45px;
  //  border-left: none;
  //  border-right: none;
  //  border-top: @dropdown-list__border;
  //  border-bottom: @dropdown-list__border;
  //  padding: 0;
  //  background: @icon-select-arrow-down;
  //  background-position: 96%;
  //  background-repeat: no-repeat;
  //  margin-top: 10px;
  //  &:focus, &:active {
  //    background: @icon-select-arrow-up;
  //    background-position: 96%;
  //    background-repeat: no-repeat;
  //  }
  //}
}

//select option[value="176"]:hover {
//  background-color: violet;
//}
//select option:checked {
//  background-color: grey;
//}
//input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
//  background-color: chartreuse;
//}
//._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus{
//  background-color: grey;
//}
//
//.selectmenu-item-action {
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  -ms-appearance: none;
//  appearance: none;
//  background: transparent;
//  border: 0;
//  color: #41362f;
//  display: block;
//  font-size: 1.4rem;
//  font-weight: 400;
//  min-width: 100%;
//  padding: 1rem 6rem 1rem 1.5rem;
//  text-align: left;
//  transition: background .2s linear;
//  width: 5rem;
//}
//.selectmenu-item-action:hover, .selectmenu-item-action:focus {
//   background: purple;
//}

._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
  box-shadow: none;
}

.product-options-bottom {
  label {
    position: relative;
    &[for=yes] {
      float: left;
      span:last-of-type {
        position: absolute;
        right: -1px;
      }
    }
    &[for=no] {
      float: right;
      span:last-of-type {
        position: absolute;
        right: 0;
      }
    }
  }

  input[type="radio"] {
    position: absolute;
    right: -2px;
    opacity: 0;
    z-index: 100;
    top: -3px;

    & + span {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: @icon-choose-box left top no-repeat;
      margin-left: 2%;
    }
    &:checked + span {
      background: @icon-choose-chd no-repeat;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs){
  .product-options-bottom {
    label {
      position: relative;
      &[for=yes] {
        span:last-of-type {
          left: -1px;
        }
      }
      &[for=no] {
        span:last-of-type {
          left: 2px;
        }
      }
    }
  }
  .form.create.account.form-create-account{
    font-size: 12px;
    input{
      font-size: 12px;
    }
    .create.info {
      .field {
        label[for=country] {
          width: 23%;
        }
        label[for=gender]{
          width: 50%;
        }
      }
      .field.country .control {
        float: left;
        width: 77%;
        .nice-select {
          font-size: 12px;
          line-height: 29px;
        }
      }
      .field.gender .control{
        width: 50%;
        .nice-select {
          font-size: 12px;
          line-height: 29px;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen_custom__xl){
  .product-options-bottom {
    label {
      //position: relative;
      span:last-of-type {
        //position: absolute;
        //top: 20px;
        right: -1px;
      }
    }
    input[type="radio"] {
      & + span {
        margin-left: 0;
      }
    }
  }
}

//.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){
//  .product-options-bottom input[type="radio"] + span{
//    //margin-left: 10%;
//  }
//}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .fieldset {
    .legend {
      &:extend(.abs-margin-for-forms-desktop all);
    }
    > .field {

      /*.lib-form-field-type-revert();
      margin: 0 0 @form-field__vertical-indent__desktop;*/
      line-height: 43px;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
  .field .control .input-text {
    width: 36%;
  }
  .fieldset .field.qty {
    margin-top: 30px;
  }
  .form.create.account.form-create-account {
    .legend {
      display: none;
    }
    .field .control .input-text {
      width: 100%;
      //border: none;
      //border-bottom: 2px solid;
    }
    .create.info .field label[for=country] span {
      padding-top: 11px;
      display: inline-block;
    }
  }
  .account-right-block {
    width: 100%;
    margin-top: 0;
    .register-form-right-image {
      display: none;
    }
    .sign-in-block {
      margin-top: 0;
      a.action.login {
        width: 86%;
        position: relative;
        &:after{
          content: '';
          background: url(../images/mobile/icon-question.png) no-repeat;
          position: absolute;
          width: 16px;
          height: 16px;
          right: -24px;
          top: 7px;
        }
      }
      p {
        margin-top: 1rem;
      }
      //&:after{
      //  content: '';
      //  background: url(../images/mobile/icon-question.png) no-repeat;
      //  position: absolute;
      //  width: 16px;
      //  height: 16px;
      //  right: 0;
      //  bottom: 98px;
      //}
    }
  }
}

