.totals.sub {
  text-transform: uppercase;
}

.totals-tax {
  text-transform: uppercase;
}

.grand.totals {
  text-transform: uppercase;
  //border-top: 1px solid #aeaeae;
  border-bottom: 2px solid #e8e8e8;
  font-weight: normal;
  .mark {
    padding-top: 5px;
  }
  .amount {
    padding-top: 5px;
    strong {
      font-weight: normal !important;
    }
  }
}