// Common
// Grid with posts
//______________________________________________
.post-list-wrapper {
  .post-list {
    list-style-type: none;
    padding-left: 0;
    //li:nth-child(1), li:nth-child(5), li:nth-child(9) {
    //  margin-left: 1%;
    //}
    .post-holder {
      width: 31.3%;
      margin: auto auto 50px 1%;
      display: inline-block;
      list-style-type: none;
      background-color: transparent;
      padding: 0;
      .post-content {
        .post-description {
          .owl-carousel {
            .owl-dots {
              max-width: max-content;
              .owl-dot {
                margin-right: 10px;
              }
            }
          }
          .post-ftimg-hld {
            width: 100%;
            margin: 0;
            float: none;
          }
        }
      }
      .post-footer {
        .post-title {
          margin-top: 0;
          line-height: 15px;
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: @color-brown;
            font-size: 13px;
          }
        }
      }
      &:hover {
        box-shadow: none;
      }
    }
  }
  .mobile-post-title {
    display: none;
  }
}

//
// Blog Post
//_______________________________________________
.post-view {
  .post-holder {
    box-shadow: none;
    background-color: transparent;
    padding-top: 0;
    &:hover {
      box-shadow: none;
    }
  }
  .post-text-hld {
    p:nth-child(4) {
      margin-top: 30px;
    }
  }
  .post-content {
    .owl-dots {
      bottom: -25px;
      max-width: max-content;
      .owl-dot {
        margin-right: 10px;
        border: 2px solid #858585;
        &.active {
          background-color: #858585;
        }
      }
    }
    .post-description img {
      margin: 0;
    }
  }
  .post-bottom {
    margin-top: 50px;
    strong h2 {
      text-transform: uppercase;
      color: @color-brown;
      font-size: @font-size-bgk;
    }
    .block.related {
      margin-bottom: 15px;
      .block-title {
        strong {
          font-weight: 300;
          font-size: @font-size-bgk;
        }
      }
      .products {
        width: 94%;
        margin: 0 auto;
        padding-top: 10px;
        .product-item {
          padding-left: 0;
          border: 1px solid #aeaeae;
          margin-left: 4%;
          .product-item-info {
            .product-image-photo {
              display: block;
            }
            .product-item-details {
              display: none;
            }
          }
        }
      }
    }
    .default-shared-link {
      height: 0;
      .share-btn {
        position: relative;
        margin: 0 auto;
        width: 40px;
        height: 40px;
        span {
          width: 40px;
          height: 40px;
          position: absolute;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){
  // Toggle from mobile to desktop
  .post-content.mobile {
    display: none;
  }
  .post-content.desktop {
    display: block;
  }
  .post-footer.desktop {
    display: block;
  }
  .post-view {
    .post-bottom {
      .block.related {
        .products-grid .product-item {
          width: 20%;
          margin-bottom: 15px;
          .image-block {
            .product-note-info {
              top: 0;
            }
            .product-note-status {
              bottom: 15px;
              right: 5px;
            }
            .popular-products {
              bottom: 20px;
              padding: 5px 15px;
            }
          }
        }
      }
    }
  }
}

//
// Mobile
//_________________________________________________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
  // Toggle from desktop to mobile
  .post-content.mobile {
    display: block;
  }
  .post-content.desktop {
    display: none;
  }
  .post-footer.desktop {
    display: none;
  }
  // Mobile Settings for post items
  .owl-carousel .owl-item img {
    margin-left: 1px !important;
  }

  .owl-carousel .owl-item img {
    width: 100% !important;
  }
  .post-list-wrapper {
    .post-list {
      .post-holder {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-bottom: 15px;
        .post-content.mobile {
          h2.post-title {
            text-decoration: none;
            text-transform: uppercase;
            color: @color-brown;
            margin-bottom: 1rem;
            margin-top: 5px;
            font-size: 17px;
          }
          .post-description {
            .post-text-hld {
              .owl-carousel.owl-drag {
                .owl-item {
                  overflow: hidden;
                }
                .owl-dots {
                  bottom: -27px;
                  .owl-dot {
                    border: 2px solid #858585;
                    &.active {
                      background-color: #858585;
                    }
                  }
                }
              }
            }
            .related-products {
              margin-top: 40px;
              margin-bottom: 20px;
              .product-show-button {
                cursor: pointer;
                margin-bottom: 20px;
                display: block;
                font-size: 16px;
              }
              .items {
                width: 80%;
                margin: 0 auto;
                .item {
                  margin-bottom: 20px;
                  max-width: 44%;
                  display: inline-block;
                  img.product-image-photo {
                    border: 1px solid @custom-gray-bg;
                    margin-right: 0;
                    margin-left: 0;
                  }
                }
                .item:nth-child(even) {
                  margin-left: 8%;
                }
              }
            }
            img {
              margin: 0;
            }
          }
        }
      }
    }
    .mobile-post-title {
      display: block;
      text-align: center;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
  .post-view {
    .post-holder {
      .post-bottom {
        .related .product-items .product-item {
          width: 43.333333%;
          margin-bottom: 15px;
        }
      }
    }
  }
}


