//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .form.wishlist.items {
    .actions-toolbar {
      &:extend(.abs-reset-left-margin all);
    }
  }

  .product-info-main,
  .product-options-bottom,
  .block-bundle-summary {
    .action.towishlist {
      &:extend(.abs-action-addto-product all);
      display: block;
      border: 2px solid @color-gray-light3;
      margin-top: 20px;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 3px;
      padding: 10px 0;
      background-color: @color-white;
      &:hover {
        border: 2px solid @color-gray-light3;
      }
    }
  }

  .product-items,
  .products.list.items,
  .table-comparison {
    .action {
      &.towishlist {
        &:extend(.abs-actions-addto-gridlist all);
        .lib-icon-font-symbol(
                @icon-wishlist-empty
        );
      }
    }
  }

  .account .table-wrapper .data.table.wishlist {
    .lib-table-bordered(
      @_table_type: horizontal
    );

    thead > tr > th {
      border-bottom: 0;
    }

    tbody > tr:last-child > td {
      border-bottom: 1px solid @table__border-color;
    }

    .product.name {
      display: inline-block;
      margin-bottom: @indent__s;
    }

    .box-tocart {
      margin: @indent__s 0;
      width: 40%; //
      display: inline-table; //

      .qty {
        //vertical-align: middle;
        //&:extend(.abs-input-qty all);
        margin-bottom: 10px; //
        width: 50%; //
        float: left; //
      }
    }

    .col {
      &.item {
        width: 50%;
      }

      &.photo {
        max-width: 150px;
      }

      &.selector {
        max-width: 15px;
      }
    }

    textarea {
      margin: @indent__s 0;
    }

    .input-text.qty {
      margin-bottom: @indent__s;
    }

    .action.primary {
      vertical-align: top;
    }

    .price {
      font-weight: @font-weight__bold;
    }
  }

  .block-wishlist {
    .block-title {
      &:extend(.abs-block-title all);
    }

    .counter {
      &:extend(.abs-block-items-counter all);
    }

    .product-item-name {
      margin-right: @indent__m;
    }
  }

  .products-grid.wishlist {
    .product-note-info {
      top: 20px;
    }
    .popular-products {
      bottom: 35px;
    }
    .product-note-status {
      bottom: 35px;
    }
    .product {
      &-item {
        border-bottom: 1px solid @color-active-bgk;
        .product-name-wsl {
          margin-top: 18px;
          display: inline-block;
          width: 55%;
        }
        &-info {

          //width: 240px;
          > div {
            //display: inline-block;
            //float: left;
          }
          .price-box {
            //float: right;
          }

        }
        &-photo {
          width: 135px;
          margin-bottom: 0;
          display: inline-block;
          float: left;
          margin-right: 20px;
        }

        &-name {
          margin-top: 0;
        }

        .price-box {
          //margin: 0;
          //margin-top: 30px;
        }

        &-tooltip {
        }

        .comment-box {
          .label {
            &:extend(.abs-visually-hidden all);
          }
        }

        &-comment {
          display: block;
          height: 42px;
          margin: @indent__s 0;
        }

        &-actions {
          > * {
            margin-right: 15px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
        .default-shared-link {
          display: inline-table;
          vertical-align: bottom;
            .share-btn {
              .arrow-up {
                content: @icon-arrow-up;
                height: 30px;
                width: 30px;
                background-size: cover;
              }
            }
        }
        .product-item-actions {
          //margin-left: 10%;
          a:first-of-type {
            //display: block;
            //margin-top: 105px;
            content: @icon-basket-remove;
            height: 27px;
            background-size: cover;
          }
        }
        .box-tocart {
          input.qty {
            height: 32px;
            border: 1px solid @color-active-bgk;
            &:extend(.abs-input-qty all);
          }
          .fieldset {
            .field.qty {
              width: 55%;
              float: left;
              min-width: 135px;
              .label {
                float: left;
                margin-right: 10px;
                margin-top: 6px;
              }
              .control {
                .qty-enhance {
                  position: relative;
                  width: 18px;
                  height: 16px;
                  display: inline-block;
                  color: black;
                  border: 1px solid @color-active-bgk;
                  vertical-align: middle;
                  cursor: pointer;
                  span {
                    position: absolute;
                    top: -2px;
                    left: 5px;
                  }
                }
                .qty-reduce {
                  position: relative;
                  width: 18px;
                  height: 16px;
                  display: inline-table;
                  color: black;
                  border: 1px solid @color-active-bgk;
                  vertical-align: middle;
                  cursor: pointer;
                  span {
                    position: absolute;
                    top: -4px;
                    left: 7px;
                  }
                }
              }
            }
          }
          .message-count-in-stock {
            display: inline-table;
            //float: right;
            //margin-left: 10px;
            span {
              color: @color-red11;
              font-size: 13px;
            }
          }
        }
      }
    }
    .product-item-info{

    }
  }
  .form-wishlist-items {
    .title {
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 30px;
    }
    .products-grid.wishlist {
      .product-items {
        li:first-of-type {
          border-top: 1px solid @color-active-bgk;
          padding-top: 0;
        }
      }
    }
  }
  .form-wishlist-items .products-grid.wishlist .product-items li{
    margin-left: 0;
    margin-bottom: 0;
  }
}

//
//  Mobile
//  _____________________________________________

@media only screen and (max-width: 360px) {
  html:lang(th) {
    .form-wishlist-items .products-grid.wishlist .product-items .product-item {
      &:first-of-type {
        padding-left: 0;
      }
      .price-box {
        margin-top: 7px;
      }
      .box-tocart {
        .wrapper.size {
          margin-top: 6px;
          width: 60px;
          right: 0;
        }
        .wrapper.color {
          margin-top: 4px;
        }
        .message-count-in-stock {
          top: 24px;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
  .products-grid.wishlist {
    span.product-note-info {
      font-size: 12px;
      top: 15px;
    }
    span.popular-products {
      font-size: 12px;
    }
    span.product-note-status {
      font-size: 12px;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .products-grid.wishlist {
    .product-note-info {
      font-size: 12px;
    }
    .popular-products {
      font-size: 12px;
    }
    .product-note-status {
      font-size: 12px;
    }
    .product-item {
      border-bottom: 1px solid @secondary__color;
      //font-size: @font-size__s;
      &:first-child {
        border-top: 1px solid @secondary__color;
      }
    }
  }
  html:lang(th) {
    .form-wishlist-items .products-grid.wishlist .product-item {
      .box-tocart {
        .fieldset {
          .field.qty {
            .label {
              display: none;
            }
            .control span{
              &.qty-reduce, &.qty-enhance {
                top: -1px;
              }
            }
          }
        }
        .wrapper.color {
          margin-top: 0;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .products-grid.wishlist {
    margin-bottom: @indent__l;
    margin-right: -@indent__s;
    .product {
      &-item {
        //padding: @indent__base @indent__s @indent__base @indent__base;
        position: relative;
        &-photo {
          float: left;
          margin-right: @indent__base;
        }

        &-name {
          .lib-font-size(16);
        }

        &-actions {
          display: block;

          .action {
            margin-right: 15px;

            &:last-child {
              margin-right: 0;
            }

            &.edit {
              float: left;
            }

            &.delete {
              float: right;
            }

            &.edit,
            &.delete {
              margin-top: 7px;
            }
          }
        }

        &-name,
        &-description,
        .price-box,
        &-tooltip {
          margin-left: 80px;
        }
        .price-box {
          display: inline-table;
          vertical-align: top;
          float: right;
          margin-left: 0;
          margin-top: 5px;
        }

        .box-tocart {
          float: left;
          margin-right: @indent__base;
          .fieldset {
            margin-bottom: 15px;
            height: 72px;

          }
          .stock {
            margin-top: 7px;
          }
        }

        .giftregisty-dropdown,
        .field.qty {
          //display: none;
        }
      }

      &-image-container {
        max-width: 80px;
      }
    }
  }

  //
  //  Grid view for wishlist
  //  -----------------------------------------

  .wishlist-index-index {
    .product {
      &-item {
        width: 100%;
        &-info {
          width: auto;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
  .product-info-main,
  .product-options-bottom,
  .block-bundle-summary {
    .action.towishlist {
      margin: 15px auto;
      font-size: 18px;
      font-weight: 700;
      height: auto;
      padding: 15px 0;
      //max-width: 250px;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
  .wishlist-index-index {
    .products-grid {
      .product-item {
        margin-bottom: @indent__base;
        width: 100%;
        .tocart {
          width: 100%;
          background-color: @color-brown;
          border: none;
          border-radius: 0;
          &:hover {
            background-color: @color-brown - 20%;
          }
        }
      }

      .product-item-actions {
        margin: 0;
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .wishlist-index-index {
    .products-grid {
      .product-item {
        //font-size: @font-size__s;
        font-size: 11px;
        .tocart {
          font-size: @font-size__s;
        }
        .value {
          display: none;
        }
        .rgb {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          float: left;
          margin-top: 1px;
          margin-left: 5px;
          border: 2px solid #d9d2cb;
        }
      }
    }
    .actions-toolbar {
      .primary {
        a:first-of-type {
          padding: 7px 9%;
          width: 30%;
          border-radius: 4px;
          text-transform: uppercase;
          text-decoration: none;
          background-color: @color-brown;
          border: 2px solid @color-brown;
          color: @color-white;
          min-width: 100px;
          display: inline-block;
          &:hover {
            background-color: @color-brown - 20%;
          }
        }
        a:last-of-type {
          width: 30%;
          border: 2px solid #aeaeae;
          text-transform: uppercase;
          border-radius: 3px;
          padding: 7px 9%;
          text-align: center;
          background: transparent;
          min-width: 100px;
          display: inline-block;
          //float: right;
        }
      }
      .secondary {
        margin-top: 30px;
      }
    }
  }
  html:lang(th) {
    .products-grid.wishlist .product-item .box-tocart .wrapper.color .label {
      font-size: 20px;
    }
    .wishlist-index-index .products-grid .product-item .rgb {
      margin-top: 4px;
      min-width: 12px
    }
    .form-wishlist-items .products-grid.wishlist .product-item {
      .product-name-wsl {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        display: block;
      }
      .box-tocart {
        .wrapper.color {
          width: 40px;
          margin-top: 4px;
        }
        .wrapper.size {
          .label, .values {
            float: left;
            width: max-content;
            font-size: 1.8rem;
          }
          .label {
            margin-right: 5px;
          }
        }
        .fieldset .field.qty {
          width: 90%;
          min-width: 150px;
          .label {
            font-size: 1.8rem;
          }
          .control {
            .qty-reduce, .qty-enhance  {
              top: -3px;
            }
          }
        }
        .message-count-in-stock span {
          font-size: 1.8rem;
        }
      }
      .price-box .price {
        font-size: 1.8rem;
      }
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .products-grid.wishlist {
    .product {
      &-item {
        &-tooltip {
          display: inline-block;
        }

        &-actions {
          margin: @indent__s 0 0;
          margin-left: 10%;
          display: inline-table;
          vertical-align: bottom;
        }
        .box-tocart {
          width: 40%;
          display: inline-table;
          .wrapper.color {
            width: 40%;
            .label {
              min-width: 40px;
              display: table-cell;
              float: left;
            }
            .values {
              width: 25%;
              float: left;
              display: none;

            }
            .rgb {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              float: left;
              margin-top: 2px;
              border: 2px solid @color-active-bgk;
              margin-right: 10px;
            }
          }
          .wrapper.size {
            width: 45%;
            float: right;
            margin-top: 8px;
            .label {
              width: max-content;
              float: left;
              margin-right: 6px;
            }
          }
          .fieldset {
            margin-bottom: 0;
          }
          .actions-primary {
            margin: 0;
            width: 60%;
          }

          .stock {
            margin: @indent__base 0 0;
          }
        }
      }
    }
  }

  .wishlist-index-index {
    .product {
      &-item {
        &-info {
          //width: 240px;
          > div {
            //display: inline-block;
            //float: left;
          }
          .price-box {
            float: right;
            //margin-top: 15px;
            margin-top: 11px;
          }

        }
      }
    }

    .main {

    }
  }
  .form-wishlist-items {
    .actions-toolbar {
      //&:extend(.abs-reset-left-margin-desktop all);
      width: 100%;
      .primary {
        width: 100%;
        a:first-of-type {
          padding: 7px 9%;
          border-radius: 4px;
          text-transform: uppercase;
          text-decoration: none;
          background-color: @color-brown;
          border: 2px solid @color-brown;
          color: @color-white;
          margin-left: 20%;
          min-width: 100px;
          display: inline-block;
          &:hover {
            background-color: @color-brown - 20%;
          }
        }
        a:last-of-type {
          border: 2px solid #aeaeae;
          text-transform: uppercase;
          border-radius: 3px;
          padding: 7px 9%;
          text-align: center;
          background: transparent;
          min-width: 100px;
          display: inline-block;
          float: right;
        }
      }
    }
    .secondary {
      display: none;
    }
  }

  html:lang(th) {
    .products-grid.wishlist .product-item {
      .box-tocart {
        .wrapper.color .label {
          min-width: 15px;
        }
        .wrapper.size {
          width: max-content;
          min-width: 65px;
        }
        input.qty {
          margin-right: 8px;
        }
        .fieldset .field.qty {
          min-width: 166px;

        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  html:lang(th) {
    .products-grid.wishlist .product-item {
      .price-box .price {
        font-size: 1.9rem;
      }
      .box-tocart .fieldset {
        .field.qty .label,
        .wrapper.size,
        .message-count-in-stock span {
          font-size: 1.9rem;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l){
  .products-grid.wishlist .product-item .product-item-actions {
    margin-left: 7%;
    border: 1px solid;
  }
  html:lang(th) {
    .products-grid.wishlist .product-item {
      .product-item-actions {
        margin-left: 4%;
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .wishlist-index-index {
    .products-grid {
      .product-items {
        margin: 0;
      }

      .product-item {
        margin-left: calc(~'(100% - 4 * 24.439%) / 3');
        padding: 0;
        //width: 24.439%;
        width: 100%;
        //height: 204px;
        border-bottom: 1px solid @color-active-bgk;
        //border-top: 1px solid @color-active-bgk;

        &:nth-child(4n + 1) {
          margin-left: 0;
        }
        .tocart {
          width: 100%;
          background-color: @color-brown;
          border: none;
          border-radius: 0;
          &:hover {
            background-color: @color-brown - 20%;
          }
          .wrapper .size {

          }
        }
        .box-tocart {
          .message-count-in-stock {
            //margin-left: 10px;
          }
        }
      }
    }
  }
}
